<?xml version="1.0"?>

<launch>
  <arg name="serial_port" default="/dev/ttyUSB0" />
  <arg name="serial_baudrate" default="460800" />
  <arg name="type" default="mecanum" />
  <node pkg="tianbot_core" type="tianbot_core" name="tianbot_core" output="screen">
    <param name="serial_port" type="string" value="$(arg serial_port)"/>
    <param name="serial_baudrate" type="int" value="$(arg serial_baudrate)"/>
    <param name="type" type="string" value="$(arg type)"/>
  </node>
</launch>
