<?xml version="1.0"?>

<launch>
  <arg name="lidar" default="$(optenv TIANBOT_LIDAR osight_lidar)" />

  <include if="$(eval 'rplidar' in lidar)" file="$(find tianbot_bringup)/launch/includes/lidar/rplidar.launch.xml">
    <arg name="lidar" value="$(arg lidar)" />
  </include>

  <include if="$(eval 'osight_lidar' in lidar)" file="$(find tianbot_bringup)/launch/includes/lidar/osight_lidar.launch.xml" />

  <include if="$(eval 'lslidar' in lidar)" file="$(find tianbot_bringup)/launch/includes/lidar/lslidar.launch.xml" />
  
  <include if="$(eval 'rslidar' in lidar)" file="$(find tianbot_bringup)/launch/includes/lidar/rslidar.launch.xml" />
  
  <include if="$(eval 'velodyne' in lidar)" file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
</launch>
