<?xml version="1.0"?>

<launch>
  <arg name="rgbd_camera" default="$(optenv TIANBOT_RGBD_CAMERA realsense_d415)" />
  <arg name="robot_name" default="$(optenv TIANBOT_NAME /)" doc="robot name [tianbot_No1, tianbot_No2, tianbot_No3, ...]"/>

  <include if="$(eval 'realsense_d' in rgbd_camera)" file="$(find realsense2_camera)/launch/rs_rgbd.launch" >
  </include>

  <include if="$(eval 'astra' in rgbd_camera)" file="$(find tianbot_bringup)/launch/includes/rgbd_camera/astra.launch.xml" >
    <arg name="camera_name" value="$(arg robot_name)/camera" />
  </include>

  <include if="$(eval 'zed' in rgbd_camera)" file="$(find tianbot_bringup)/launch/includes/rgbd_camera/zed.launch.xml" >
    <arg name="rgbd_camera" value="$(arg rgbd_camera)" />
  </include>

</launch>
