<?xml version="1.0"?>

<!-- 
  - amcl
  - map_server
  - move_base
  - rviz view
 -->
<launch>
    <arg name="use_rviz" default="false" />
    <!-- for amcl -->
    <arg name="init_x" default="0.0" />
    <arg name="init_y" default="0.0" />
    <arg name="init_a" default="0.0" />
    <!-- for map server -->
    <arg name="map_file" default="$(optenv TIANBOT_MAP_FILE $(find tianbot_slam)/maps/tianbot_office.yaml)" />
    <!-- for navigation -->
    <arg name="tianbot_base" default="$(optenv TIANBOT_BASE tianbot_omni_06q1)" />

    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- Localization -->
    <!-- AMCL -->
    <!-- Omni -->
    <include if="$(eval 'tianbot_omni' in tianbot_base)" file="$(find tianbot_navigation)/launch/includes/tianbot_omni_amcl.launch.xml">
        <arg name="init_x" value="$(arg init_x)"/>
        <arg name="init_y" value="$(arg init_y)"/>
        <arg name="init_a" value="$(arg init_a)"/>
    </include>
    <!-- Tianbot and Tianrover, for differential and ackermann -->
    <include unless="$(eval 'tianbot_omni' in tianbot_base)" file="$(find tianbot_navigation)/launch/includes/tianbot_amcl.launch.xml">
        <arg name="init_x" value="$(arg init_x)"/>
        <arg name="init_y" value="$(arg init_y)"/>
        <arg name="init_a" value="$(arg init_a)"/>
    </include>

    <!--  Navigation -->
    <include file="$(find tianbot_navigation)/launch/includes/tianbot_move_base.launch.xml" />

    <!--  Visualisation -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tianbot_rviz)/rviz_cfg/teb_navigation.rviz" if="$(arg use_rviz)" />

</launch>
