<?xml version="1.0"?>

<!-- 
  - amcl
  - map_server
  - move_base
  - rviz view
 -->
<launch>

    <arg name="tianbot_base" default="$(optenv TIANBOT_BASE tianbot_omni)" />
    <arg name="base_model" default="$(optenv TIANBOT_BASE_MODEL 06q1)" doc="base model [06q1, 08q1, 08q2, 08q8, etc..]"/>
    <arg name="robot_name" default="$(optenv TIANBOT_NAME)" doc="robot name [tianbot_No1, tianbot_No2, tianbot_No3, ...]"/>
    <arg name="local_planner" default="$(optenv TIANBOT_LOCAL_PLANNER base)" doc="base, dwa, eband, teb"/>

    <arg name="use_rviz" default="false" />
    <!-- for amcl -->
    <arg name="init_x" default="0.0" />
    <arg name="init_y" default="0.0" />
    <arg name="init_a" default="0.0" />
    <!-- for map server -->
    <arg name="map_file" default="$(optenv TIANBOT_MAP_FILE tianbot_office)" />
    <arg name="map_path" default="$(find tianbot_slam)/maps" />
    <!-- for navigation -->


    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)/$(arg map_file).yaml" />

    <!-- Localization -->
    <!-- AMCL -->
        <!-- Omni -->
    <include if="$(eval tianbot_base=='tianbot_omni')" file="$(find tianbot_navigation)/launch/includes/$(arg tianbot_base)_amcl.launch.xml">
        <arg name="init_x" value="$(arg init_x)"/>
        <arg name="init_y" value="$(arg init_y)"/>
        <arg name="init_a" value="$(arg init_a)"/>
    </include>
        <!-- Tianbot and Tianrover, for differential and ackermann -->
    <include unless="$(eval tianbot_base=='tianbot_omni')" file="$(find tianbot_navigation)/launch/includes/tianbot_amcl.launch.xml">
        <arg name="init_x" value="$(arg init_x)"/>
        <arg name="init_y" value="$(arg init_y)"/>
        <arg name="init_a" value="$(arg init_a)"/>
    </include>

    <!--  Navigation -->
    <include file="$(find tianbot_navigation)/launch/includes/$(arg tianbot_base)_move_base.launch.xml" >
        <arg name="local_planner" value="$(arg local_planner)" />
    </include>

    <!--  Visualisation -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tianbot_rviz)/rviz_cfg/teb_navigation.rviz" if="$(arg use_rviz)" />

</launch>
