<?xml version="1.0"?>

<launch>
  <arg name="use_rviz" default="true" />
  <arg name="robot_name" default="$(optenv TIANBOT_NAME /)" doc="robot name [tianbot_No1, tianbot_No2, tianbot_No3, ...]" />
  <arg if="$(eval robot_name=='/')" name="fixed_frame" value="odom"/>
  <arg unless="$(eval robot_name=='/')" name="fixed_frame" value="$(arg robot_name)/odom"/>
  <!-- Rviz -->
  <node ns="$(arg robot_name)" pkg="rviz" type="rviz" name="rviz" args="-d $(find tianbot_rviz)/rviz_cfg/tianbot_odom.rviz -f $(arg fixed_frame)" if="$(arg use_rviz)" />

</launch>